<%= simple_form_for([product, database]) do |f| %>
<p>Use the following strings to provide dynamic configuration:
<ul>
	<li>%PROJ% - The project name</li>
	<li>%PROJ_8% or %PROJ_4- The first 8 or 4 characters of the project name</li>
	<li>%ENV% - The name of the environment this will be configured for</li>
	<li>%ENV_8% or %ENV_4%- The first 8 or 4 characters of the environment</li>
</ul>

	<%= f.input :service_name %>
	<%= f.input :description %>
	<%= f.input :edition, :label_method=> lambda { |item| "#{item.first.upcase}" } %>
	<%= f.input :shape %>
	<%= f.input :version %>
	<%= f.input :level, :label_method=> lambda { |item| "#{item.first.upcase}" }  %>
	<%= f.input :subscription_type, :label_method=> lambda { |item| "#{item.first.upcase}" }  %>
	<%= f.input :ssh_key %>

	<%= f.button :submit, 'Save', class: "btn-primary" %>
<% end %>