
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home",root_path %></li>
  <li class="breadcrumb-item"><%= link_to @product.name, @product %></li>
  <li class="breadcrumb-item active"><%= @database_config.class.name %></li>
</ol>
<header>
<h1><%= @database_config.class.name %></h1>
 <ul class="actions">
  <li><%= link_to "Edit Config", [:edit, @product, @database_config],
    class: "edit" %></li>
  <li><%= link_to "Delete Config", [@product, @database_config], method: :delete,
data: { confirm: "Are you sure you want to delete this config?"},
class: "delete" %></li>
</ul>
<ul class="list-group">
  <li class="list-group-item"><strong>Service Name</strong>: <%= @database_config.service_name%></li>
  <li class="list-group-item"><strong>Description</strong>: <%= @database_config.description %></li>
  <li class="list-group-item"><strong>Edition</strong>: <%= @database_config.edition %></li>
  <li class="list-group-item"><strong>Shape</strong>: <%= @database_config.shape %></li>
  <li class="list-group-item"><strong>Version</strong>: <%= @database_config.version %></li>
  <li class="list-group-item"><strong>Level</strong>: <%= @database_config.level %></li>
  <li class="list-group-item"><strong>Subscription Type</strong>: <%= @database_config.subscription_type%></li>
  <li class="list-group-item"><strong>SSH Key</strong>: <%= @database_config.ssh_key %></li>
</ul>
