<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home",root_path %></li>
  <li class="breadcrumb-item"><%= link_to "Users", users_path %></li>
  <li class="breadcrumb-item"><%= link_to @user.email, @user %></li>
  <li class="breadcrumb-item active">Edit</li>

</ol>
<div class="card">
	<div class="card-header">
    <i class="fa fa-edit"></i>Edit User
    <div class="card-actions">
		  <%= link_to @user do %>
      	<i class="fa fa-close"></i>
      <% end %>
    </div>
  </div>   	
  <div class="card-block">
		<%= render "form", user: @user %>
	</div>
</div>
