<div id="product">
 <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home",root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Products", products_path %></li>
    <li class="breadcrumb-item active"><%= @product.name%></li>
  </ol>
  <header>
    <h1><%= @product.name %></h1>
    <ul class="actions">
      <% if policy(@product).edit? %>
        <li><%= link_to "Edit Product", [:edit, @product],
	      class: "edit" %></li>
      <% end %>
      <% if policy(@product).destroy? %>
        <li><%= link_to "Delete Product", @product, method: :delete,
data: { confirm: "Are you sure you want to delete this product?"},
class: "delete" %></li>
      <% end %>
	  </ul>
  </header>

  <%= simple_format(@product.description) %>
  <h3>Components</h3>
  <% if policy(CloudComponent).new? %>
    Create:
    <div class="btn-group" role="group">
      <div class="btn-group" role="group">
        <div class="btn-group">
          <% @plugins.each do | plugin | %>
            <%= render "#{plugin}_component_menu", product: @product %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <table class="table table-striped table-hover" id="sortable">
  <thead>
    <tr>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @product.cloud_components.each do |component| %>
      <tr data-item-id=<%= "#{component.id}" %> class="item">
        <td><%= link_to component.pretty_type, [@product, component] %></td>
        <td>
          <div class="btn-group">
            <% if policy(component).edit? %>
              <%= link_to "", [:edit, @product, component], class: 'edit' %>
            <% end %>
            <% if policy(component).destroy? %>
              <%= link_to "", [@product, component], method: :delete,
data: { confirm: "Are you sure you want to delete this component?"},
class: "delete" %>
            <% end %>
          </div>
        </td>     
      </tr>
    <% end %>
  </tbody>
  <table>
</div>