<div id="product">
 <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home",root_path %></li>
    <li class="breadcrumb-item active"><%= @product.name%></li>
  </ol>
  <header>
    <h1><%= @product.name %></h1>
    <ul class="actions">
	    <li><%= link_to "Edit Product", [:edit, @product],
	      class: "edit" %></li>
      <li><%= link_to "Delete Product", @product, method: :delete,
data: { confirm: "Are you sure you want to delete this product?"},
class: "delete" %></li>
	  </ul>
  </header>

  <%= simple_format(@product.description) %>
  <h3>Components</h3>
  Create:
  <div class="btn-group" role="group">
    <%= link_to "Database", new_product_oraclecloud_database_component_path(@product), class: 'btn btn-default' %>
      <%= link_to "Java", new_product_cloud_component_path(@product), class: 'btn btn-default' %>
     <%= link_to "Compute Instance", new_product_cloud_component_path(@product, :cloud_type=>'compute_instance'), class: 'btn btn-default' %>

  </div>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @product.cloud_components.each do |component| %>
      <tr>
        <td><%= link_to component.pretty_type, [@product, component] %></td>
        <td>
          <div class="btn-group">
            <%= link_to "", [:edit, @product, component], class: 'edit' %>
            <%= link_to "", [@product, component], method: :delete,
data: { confirm: "Are you sure you want to delete this component?"},
class: "delete" %>
          </div>
        </td>     
      </tr>
    <% end %>
  </tbody>
  <table>
</div>