<!DOCTYPE html>
<html>
  <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
		  <% if content_for?(:title) %>
		    <%= yield(:title) %>
		  <% else %>
		    Cloud Portal
		  <% end %>
		</title>
		<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="navbar-fixed fixed-nav">
  	<header class="navbar">
  		<div class="container-fluid">
  			<button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
  			<a class="navbar-brand" href="#">Cloud Portal</a>
  			<ul class="nav navbar-nav hidden-md-down">
          <li class="nav-item hidden-md-up">
              <a class="nav-link navbar-toggler sidebar-toggler layout-toggler" href="#">☰</a>
          </li>
          <li class="nav-item p-x-1">
             	<%= link_to "Home", main_app.root_path, :class=>'nav-link' %>
          </li>
          <li class="nav-item p-x-1">
		          <%= link_to "Products", products_path, :class=>'nav-link' %>
          </li>
          <% if current_user.has_role? :admin %>
	          <li class="nav-item p-x-1 dropdown">
	        		<a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
	        		<div class="dropdown-menu">	
	        			<% if policy(User).index? %>
		        				<%= link_to "Users", users_path, :class=>'dropdown-item' %>
		        		<% end %>	        
	        			<% if policy(CloudInstance).errors? %>
		        				<%= link_to "Provisioning Errors", errors_cloud_instances_path, :class=>'dropdown-item' %>
		        		<% end %>
		        		<div class="dropdown-header text-xs-center">
	                <strong>Plugins</strong>
	              </div>
	               <% Cloudportal.plugins.each do | plugin | %>
                    <%= link_to plugin.camelize.constantize, polymorphic_path([plugin, :admin]), :class=>'dropdown-item' %>
                  <% end %>
		        	</div>
		        </li>
		      <% end %>
	      </ul>
	      <ul class="nav navbar-nav pull-right hidden-md-down p-x-1">
	      	<li class="nav-item dropdown">
	      	  <a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
	      	  <div class="dropdown-menu dropdown-menu-right">
	      	  	<%= link_to "Sign out", main_app.destroy_user_session_path,
					        method: :delete, :class=>'dropdown-item' %>
	      	  </div>
	      	</li>
      	</ul>
  		</div>
  	</header>
	  <div class="sidebar">
	  	<nav class="sidebar-nav">
	  		<ul class="nav">
	  			<li class="nav-item">
	  				<%= link_to "Home", main_app.root_path, :class=>'nav-link' %>
          </li>
          <li class="nav-item">
          	<%= link_to "Products", products_path, :class=>'nav-link' %>
          </li>
          <% if current_user.has_role? :admin %>
          	<li class="nav-title">Admin</li>
						<% if policy(User).index? %>
							<li class="nav-item">
			      		<%= link_to "Users", users_path, :class=>'nav-link' %>
			      	</li>
			      <% end %>	        
      			<% if policy(CloudInstance).errors? %>
      				<li class="nav-item">
								<%= link_to "Provisioning Errors", errors_cloud_instances_path, :class=>'nav-link' %>
							</li>
        		<% end %>
        		<li class="nav-title">Plugins</li>
           	<% Cloudportal.plugins.each do | plugin | %>
           	  <li class="nav-item">
            		<%= link_to plugin.camelize.constantize, polymorphic_path([plugin, :admin]), :class=>'nav-link' %>
            	</li>
            <% end %>
	        <% end %>
	        <li class="nav-item">
	        	<%= link_to "Sign out", main_app.destroy_user_session_path,
					        method: :delete, :class=>'nav-link' %>
					</li>
	  		</ul>
	  	</nav>
	  </div>
  	<main class="main">
  		<!--<ol class="breadcrumb">
  			<li class="breadcrumb-item"><%= link_to "Home", main_app.root_path %></li>
  		</ol>-->
  		<div class="container-fluid">
			  <% flash.each do |key, message| %>
				  <div class="alert alert-<%= key %>">
				    <%= message %>
				  </div>
				<% end %>
				<%= yield %>
			</div>
    </div>
    <footer class="footer">
        <span class="text-left">
            Source code available here: <a href="https://github.com/Joelith/cloudportal">Cloud Portal</a>
        </span>
    </footer>
  </body>
</html>
